name: Build and Push Docker Image
on:
  workflow_call:
    inputs:
      app-context:
        description: Context for the Docker build
        required: true
        type: string
      app-name:
        description: Docker image name
        required: true
        type: string
      app-dockerfile:
        description: Docker image name
        required: false
        type: string
        default: Dockerfile

jobs:
  build-and-push:
    runs-on: self-hosted-buildkit
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Harbor
        run: |
          mkdir -p ~/.docker
          echo "{\"auths\":{\"registry.fullstack.pw\":{\"auth\":\"$(echo -n "admin:${HARBOR_KEY}" | base64)\"}}}" > ~/.docker/config.json

      - name: Build and Push Docker Image
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ inputs.app-context }} \
            --local dockerfile=${{ inputs.app-context }} \
            --opt filename=${{ inputs.app-dockerfile }} \
            --output type=image,"name=registry.fullstack.pw/library/${{ inputs.app-name }}:${{ github.sha }},registry.fullstack.pw/library/${{ inputs.app-name }}:latest",push=true,registry.insecure=true
