name: TruffleHog

on:
  workflow_call:

jobs:
  security-scan:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install TruffleHog
        run: |
          curl -sSfL https://raw.githubusercontent.com/trufflesecurity/trufflehog/main/scripts/install.sh | sh -s -- -b "$HOME/.local/bin"
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Secret Scanning
        run: |
          BASE="${{ github.event.pull_request.base.sha || 'HEAD~1' }}"
          trufflehog git file://. --since-commit "$BASE" --results=verified,unknown --fail
